
<body class="body">
    
    <div>
        <br>
        <br>
        <div class="navbar">
            <h2 class="color">Carrito de compras </h2>
            <form action="/products">
                <button class="button">Volver a productos</button>
            </form>
        </div>
        <br>
        <p class="color">Usted cuenta con los siguientes productos:</p>
        <div class="color recuadro">
            {{#if products}}
                {{#each products}}
                        <div class="producto">
                            <h3 class="titulo">{{this._id.title}}</h3>
                            <p class="descripcion">Descripción: {{this._id.description}}</p>
                            <p class="pesos">Precio unitario: ${{this._id.price}}</p>
                            <p class="cantidad">Cantidad: {{this.quantity}}</p>
                            <button class="button delete-product" data-cid="{{../cartId}}" data-pid="{{this._id._id}}">Borrar producto</button>
                        
                        </div>
                    {{/each}}
            {{else}}
                <p>No hay productos en el carrito.</p>
            {{/if}}

        </div>
        <div class="cierre">
            <button class="buttonCierre" id="hacer-compra" data-cid="{{cartId}}">Hacer compra</button>
        </div>
        <div id="ticketModal" class="modal" style="display:none;">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Ticket de Compra</h2>
                <p id="ticketContent"></p>
            </div>
        </div>
    </div>
</body>

<script>
    document.querySelectorAll('.delete-product').forEach(button => {
        button.addEventListener('click', function(event) {
            event.preventDefault(); // Evita el comportamiento por defecto del botón

            const cid = this.getAttribute('data-cid'); // Obtiene el cartId
            const pid = this.getAttribute('data-pid'); // Obtiene el productId

            // Realiza la solicitud DELETE
            fetch(`/api/carts/${cid}/product/${pid}`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (response.ok) {
                    return response.json(); // Espera recibir JSON como respuesta
                } else {
                    console.error('Error al eliminar el producto:', response.status, response.statusText);
                }
            })
            .then(data => {
                if (data.success) {
                    const productElement = this.closest('.producto');
                    const quantityElement = productElement.querySelector('.cantidad');

                    // Actualiza la cantidad o elimina el producto
                    if (data.updatedQuantity > 0) {
                        // Si la cantidad es mayor que 0, actualiza el texto de cantidad
                        quantityElement.textContent = `Cantidad: ${data.updatedQuantity}`;
                    } else {
                        // Si la cantidad es 0, elimina el producto del DOM
                        productElement.remove();
                    }
                } else {
                    console.error('Error en la respuesta:', data.message);
                }
            })
            .catch(error => console.error('Error:', error));
        });
    });

    document.getElementById('hacer-compra').addEventListener('click', function(event) {
        event.preventDefault();

        const cid = this.getAttribute('data-cid'); 

        fetch(`/api/carts/${cid}/purchase`, {
            method: 'POST', 
            headers: {
                'Content-Type': 'application/json'
            }
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            } else {
                console.error('Error al realizar la compra:', response.status, response.statusText);
            }
        })
        .then(data => {
            if (data.payload) {

                const ticketContent = `
                <strong>Ticket de Compra</strong><br>
                <strong>Monto Total:</strong> $${data.payload.amount}<br>
                <strong>Comprador:</strong> ${data.payload.purchaser}<br>
                <strong>ID de Compra:</strong> ${data.payload._id}<br>
                <strong>Código:</strong> ${data.payload.code}<br>
                <strong>Fecha de Compra:</strong> ${new Date(data.payload.purchase_datetime).toLocaleString()}<br>`;
                // Muestra el ticket en el modal
                document.getElementById('ticketContent').innerHTML = ticketContent; 
                document.getElementById('ticketModal').style.display = 'block';
            } else {
                console.error('Error en la respuesta:', data.message);
            }
        })
        .catch(error => console.error('Error:', error));
    });

    // Cerrar el modal al hacer clic en la 'X'
    document.querySelector('.close').onclick = function() {
        document.getElementById('ticketModal').style.display = 'none';
        // Eliminar todos los productos del carrito del DOM
        const productos = document.querySelectorAll('.producto');
        productos.forEach(producto => producto.remove());
    }
</script>

<style>
    .body{
    background-color: rgb(128, 119, 119)
    }
    .color{
        color: aliceblue;
    }
    .recuadro{
        border: solid aliceblue;
        border-radius: 20px;
        padding: 1%;
    }
    .producto{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        border: solid rgb(230, 218, 218);
        padding: 1%;
    }
    .titulo{
        padding-bottom: 1%;
        padding-top: 1%;
    }
    .pesos{
        padding-left: 10%;
        margin:0;

    }
    .descripcion{
        margin: 0;
    }
    .cantidad{
        padding-left: 10%;
        margin:0;
    }
    .button{
        margin-left: 2%;
        color: aliceblue;
        background-color: rgb(60, 114, 96);
        border: solid rgb(60, 114, 96);
        border-radius: 20px;
        padding: 0.5%;
       
    }
    .buttonCierre{
        margin-left: 2%;
        color: aliceblue;
        background-color: rgb(60, 114, 96);
        border: solid rgb(60, 114, 96);
        border-radius: 20px;
        padding: 1%;
       
    }
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: first baseline;
        margin-left: 1%;
        margin-right: 3%;

    }
    .cierre{
        text-align: end;
        margin-top: 2%;
        margin-right: 3%;
    }

    /* Estilos para el modal */
    .modal {
        display: flex;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
        padding-top: 60px;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    
</style>