<div class="container">
    
    <div class="row recuadro">
        {{#if userJWT}}
            
            <div class="col espacio">
                <h1 class="letras">Bienvenidx {{userJWT.firstName}} {{userJWT.lastName}}</h1>
            </div>
            
            <div class="col espacio">

                <h4 class="letras"> Email: {{userJWT.email}}</h4>
                <h3>Role: {{userJWT.role}}</h3>
            </div>
            
            <div class="col espacio">
                <form action="/api/auth/logout" method="get">
                    <button type="submit" class="btn btn-primary">Salir</button>
                </form>

            </div>
            

        {{/if}}
    </div>
</div>

<style>

.recuadro{
    border: solid black;
    text-align: center;
    align-items: center;
}
.espacio{
    margin: 2%;
}
</style>



<div class="container">
    <h1 class="mt-4">Listado de productos</h1>
    <div class="row">
        {{#each products}}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Nombre del producto: {{title}}</h6>
                    <p class="card-text">ID del producto: {{_id}}</p>
                    <p class="card-text">Precio del producto: {{price}}</p>
                    <p class="card-text">Descripción del producto: {{description}}</p>
                    <p class="card-text">Stock disponible: {{stock}}</p>
                    <p class="card-text">Categoría: {{category}}</p>
                    <button class="btn btn-primary add-to-cart" data-id="{{_id}}">Agregar al carrito</button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div id="pagination" class="mt-3">
        {{#if showPrev}}
        <a href="/api/views/products?page={{prevPage}}" class="btn btn-primary">Anterior</a>
        {{/if}}
        <span class="mx-2">Página {{currentPage}} de {{totalPages}}</span>
        {{#if showNext}}
        <a href="/api/views/products?page={{nextPage}}" class="btn btn-primary">Siguiente</a>
        {{/if}}
    </div>
</div>


